services:
    -
        class: PHPStan\Type\Magento\Mage\GetModel
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStan\Type\Magento\Mage\GetResourceModel
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStan\Type\Magento\Mage\GetSingleton
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStan\Type\Magento\Mage\Helper
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStan\Type\Magento\MageCoreModelLayout\Helper
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
